body {
    background-color: rgb(0, 95, 219);
}

.cor-g {
    background-color: green;
    width: 300px;
    height: 27px;
    padding: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-radius: 15px;
}

.cor-r {
    background-color: red;
    width: 300px;
    height: 27px;
    padding: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-radius: 15px;
}

.calculo-baixo {
    width: 30%;
    height: 100%;
    background-color: red;
    padding: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-radius: 15px;
}

.calculo-medio {
    width: 30%;
    height: 100%;
    background-color: green;
    padding: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-radius: 15px;
}

.calculo-acima {
    width: 30%;
    height: 100%;
    background-color: orange;
    padding: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-radius: 15px;
}

.calculo-grau1 {
    width: 30%;
    height: 100%;
    background-color: red;
    padding: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-radius: 15px;
}

.calculo-grau2 {
    width: 30%;
    height: 100%;
    background-color: red;
    padding: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-radius: 15px;
}

.calculo-grau3 {
    width: 30%;
    height: 100%;
    background-color: red;
    padding: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-radius: 15px;
}

.container {
    width: 50%;
    margin: 0 auto;
    margin-top: 150px;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 5px 10px black;
}
.container h1 {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

.container label {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.container input {
    width: 300px;
    height: 25px;
    text-align: center;
    font-size: 18px;
    outline: none;
    background: none;
    border: 1px solid black;
    border-radius: 10px;
}

.btn {
    cursor: pointer;
}

.tabela {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 38%;
}

.tabela ul {
    list-style: none;
    padding: 0;
}

.tabela li {
    font-size: 20px;
}

.tabela h2 {
    font-size: 30px;
}

.clear {
    clear: both;
}

.btn {
    background: none;
    border: 1px solid black;
    width: 250px;
    height: 30px;
    border-radius: 15px;
    font-size: 20px;
}

.btn:hover {
    background-color: black;
    color: whitesmoke;
    box-shadow: 5px 5px 10px black;
}

@media(max-width: 990px) {
    .container {
        width: 90%;
    }

    .container p {
        font-size: 50px;
    }

    .container h1 {
        font-size: 70px;
    }

    .container input {
        width: 600px;
        height: 50px;
        font-size: 50px;
    }

    .container label {
        font-size: 50px;
    }

    .btn {
        width: 500px;
        height: 60px;
        font-size: 40px;
    }

    .cor-g {
        width: 550px;
        height: 150px;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .cor-r {
        width: 550px;
        height: 110px;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .calculo-baixo {
        width: 560px;
        height: 170px;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .calculo-medio {
        width: 560px;
        height: 170px;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .calculo-acima {
        width: 560px;
        height: 170px;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .calculo-grau1 {
        width: 560px;
        height: 170px;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .calculo-grau2 {
        width: 560px;
        height: 170px;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .calculo-grau3 {
        width: 560px;
        height: 170px;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .tabela {
        width: 80%;
    }

    .tabela h2 {
        font-size: 60px;
    }

    .tabela li {
        font-size: 40px;
    }
}